@import "tailwindcss";

:root {
  --bg: #020817;
  --navy: #071225;
  --navy-light: #0b1730;
  --blue: #005bff;
  --blue-soft: #0a66ff;
  --border: #12315f;
  --text: #f8fafc;
  --muted: #b6c2d1;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--text);
}